* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #EFEFEF;
}

header {
    background-color: #143109;
    box-shadow: 2px #F7F7F7;
    position: relative;
    padding-top: 0;
    width: 100%;
    height: 30px;
    margin: 0 auto;
}

h1 {
    color: #D0D6B3;
    padding: auto;
}

ul li {
    text-decoration: none;
}

